/* styles.css */

/* Estilo general para el contenedor principal */
#contenedor {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

/* Estilo para el contenedor de productos */
#product-container {
	width: 90%;
	max-width: 400px;
	margin-bottom: 40px;
}

/* Estilo para cada producto */
.product {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center; /* Centra el contenido del contenedor de productos */
	background-color: #ececec;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid black;
	margin-bottom: 20px;
}

/* Estilo para el QR */
.qr-style {
	margin-bottom: 10px; /* Margen inferior de 10px */
}

/* Estilos para los enlaces de acción */
.links a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 80px;
	border: 2px solid #999;
	border-radius: 30px;
	color: #333;
	background-color: #e0e0e0;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
}

/* Estilo para el efecto hover del enlace */
.links a:hover {
	background-color: #d0d0d0;
	border-color: #666;
	color: #000;
}
