/* styles.css */

/* Estilo general para el contenedor principal */
#contenedor {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

/* Estilo para el contenedor del título principal */
.title-container {
	margin-top: 60px;
	margin-bottom: 50px;
	font-size: 24px;
	text-align: center;
	width: 90%;
	max-width: 400px;
}

/* Estilo para subtítulos */
.sub-title {
	text-align: left; /* Alinea el texto a la izquierda */
	width: 100%; /* Hace que el título ocupe todo el ancho del contenedor */
	max-width: 400px; /* Establece un ancho máximo */
}

/* Estilo para contenedores de productos */
#product-container {
	width: 90%;
	max-width: 400px;
	margin-bottom: 40px;
}

/* Estilo para cada producto */
.product {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
	background-color: #ececec;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid black;
	margin-bottom: 20px;
}

.product h2 {
	margin: 0;
	font-size: 18px;
}

.product p {
	margin: 5px 0 0;
	font-size: 14px;
	color: #555;
}

/* Estilo para el precio del producto */
.price {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
